/*
.form-control.ng-invalid.ng-touched{
    border: 2px solid red;
}
*/
.form-container{
    width: 590px;
    display: grid;
    justify-content: center;
}

form{
    padding: 5px;
}

mat-form-field{
    margin: 5px;
}