<form [formGroup]="mutualFundForm" (ngSubmit)="onFormSubmit()">
  <div class="form-container">
  <h3 mat-dialog-title>Add Mutual Fund</h3>
  <mat-dialog-content>
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Investment Date</mat-label>
      <input
        matInput
        formControlName="investmentDate"
        [max]="today"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="
          mutualFundForm.controls['investmentDate'].touched &&
          mutualFundForm.controls['investmentDate'].invalid
        "
        >This field is Mandatory</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Amount Added</mat-label>
      <input
        matInput
        placeholder="Enter Amount Added"
        formControlName="amountAdded"
      />
      <mat-error
        *ngIf="mutualFundForm.controls['amountAdded'].errors?.['required']"
      >
        This field is Mandatory
      </mat-error>
      <mat-error *ngIf="mutualFundForm.controls['amountAdded'].errors?.['min']">
        Amount Added should be atleast
        {{mutualFundForm.controls['amountAdded'].errors?.['min'].min }}
      </mat-error>
      <mat-error
        *ngIf="mutualFundForm.controls['amountAdded'].errors?.['pattern']"
      >
        Please enter a valid number
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Investment Type</mat-label>
      <mat-select formControlName="investmentType">
        <mat-option>Enter Investment Type</mat-option>
        <mat-option *ngFor="let type of investmentTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          mutualFundForm.controls['investmentType'].touched &&
          mutualFundForm.controls['investmentType'].invalid
        "
        >This field is Mandatory</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Units Alloted</mat-label>
      <input
        matInput
        placeholder="Enter Units Alloted"
        formControlName="unitsAlloted"
      />
      <mat-error
        *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['required']"
      >
        This field is Mandatory
      </mat-error>
      <mat-error
        *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['min']"
      >
        Units alloted should be atleast
        {{mutualFundForm.controls['unitsAlloted'].errors?.['min'].min }}
      </mat-error>
      <mat-error
        *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['pattern']"
      >
        Please enter a valid number
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Net Asset Value</mat-label>
      <input
        matInput
        placeholder="Enter Net Asset Value"
        formControlName="nav"
      />
      <mat-error *ngIf="mutualFundForm.controls['nav'].errors?.['required']">
        This field is Mandatory
      </mat-error>
      <mat-error *ngIf="mutualFundForm.controls['nav'].errors?.['min']">
        NAV should be atleast
        {{mutualFundForm.controls['nav'].errors?.['min'].min }}
      </mat-error>
      <mat-error *ngIf="mutualFundForm.controls['nav'].errors?.['pattern']">
        Please enter a valid number
      </mat-error>
    </mat-form-field>
    <!-- 
    <div class="form-group">
      <label for="investment-date">Investment Date</label>
      <input
        type="date"
        class="form-control"
        formControlName="investmentDate"
        id="investment-date"
        [max]="today.toISOString().slice(0, 10)"
      />
      <div
        class="errors"
        *ngIf="
          mutualFundForm.controls['investmentDate'].touched &&
          mutualFundForm.controls['investmentDate'].invalid
        "
      >
        <div
          *ngIf="mutualFundForm.controls['investmentDate'].errors?.['required']"
        >
          This field is Mandatory
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="amount-added">Amount Added</label>
      <input
        type="number"
        class="form-control"
        formControlName="amountAdded"
        id="amount-added"
        step="0.01"
        placeholder="Enter Amount Added"
      />
      <div
        class="errors"
        *ngIf="
          mutualFundForm.controls['amountAdded'].touched &&
          mutualFundForm.controls['amountAdded'].invalid
        "
      >
        <div *ngIf="mutualFundForm.controls['amountAdded'].errors?.['required']">
          This field is Mandatory
        </div>
        <div *ngIf="mutualFundForm.controls['amountAdded'].errors?.['min']">
          Amount Added should be atleast
          {{mutualFundForm.controls['amountAdded'].errors?.['min'].min }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="investment-type">Investment Type</label>
      <select class="form-control" formControlName="investmentType" id="investment-type">
          <option value="" selected>Enter the Investment Type</option>
          <option *ngFor="let type of investmentTypes" value="type">
          {{ type }}
        </option>
      </select>
      <div class="errors" *ngIf="mutualFundForm.controls['investmentType'].touched && mutualFundForm.controls['investmentType'].invalid">
          <div *ngIf="mutualFundForm.controls['investmentType'].errors?.['required']">This field is Mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <label for="units-alloted">Units Alloted</label>
      <input
        type="number"
        class="form-control"
        formControlName="unitsAlloted"
        id="units-alloted"
        step="0.0001"
        placeholder="Enter Units Alloted" 
      />
      <div class="errors" *ngIf="mutualFundForm.controls['unitsAlloted'].touched && mutualFundForm.controls['unitsAlloted'].invalid">
          <div *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['required']">This field is Mandatory</div>
          <div *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['min']">Units alloted should be atleast {{mutualFundForm.controls['unitsAlloted'].errors?.['min'].min }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="nav">Net Asset Value</label>
      <input
        type="number"
        class="form-control"
        formControlName="nav"
        id="nav"
        step="0.0001"
        placeholder="Enter Net Asset Value" 
      />
      <div class="errors" *ngIf="mutualFundForm.controls['nav'].touched && mutualFundForm.controls['nav'].invalid">
          <div *ngIf="mutualFundForm.controls['nav'].errors?.['required']">This field is Mandatory</div>
          <div *ngIf="mutualFundForm.controls['nav'].errors?.['min']">NAV should be atleast {{mutualFundForm.controls['nav'].errors?.['min'].min }}</div>
      </div>
    </div>
    <button [disabled]="mutualFundForm.invalid">Submit</button> -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="accent">Close</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="primary"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
</form>
