/*
.form-control.ng-invalid.ng-touched{
    border: 2px solid red;
}
*/

.form-container {
    display: grid;
    justify-content: center;
}

form {
    padding: 10px;
}

mat-form-field {
    margin: 5px;
}