<form [formGroup]="mutualFundForm">
  <div class="flex flex-wrap gap-3 p-fluid">
    <div class="flex-auto m-2">
      <label for="investmentDate" class="block font-bold"
        >Investment Date</label
      >
      <p-calendar
        [ngClass]="
          mutualFundForm.controls['investmentDate'].touched &&
          mutualFundForm.controls['investmentDate'].invalid
            ? 'ng-invalid ng-dirty'
            : ''
        "
        formControlName="investmentDate"
        placeholder="Enter Investment Date"
        dateFormat="dd/mm/yy"
        appendTo="body"
        [showButtonBar]="true"
        [showIcon]="true"
        [minDate]="startDate"
        [maxDate]="today"
      ></p-calendar>
      <small
        *ngIf="
          mutualFundForm.controls['investmentDate'].touched &&
          mutualFundForm.controls['investmentDate'].invalid
        "
        class="error-text"
        >This field is mandatory</small
      >
    </div>
    <div class="flex-auto m-2">
      <label for="amountAdded" class="block font-bold">Amount Added</label>
      <p-inputNumber
        formControlName="amountAdded"
        placeholder="Enter Amount Added"
        mode="currency"
        currency="INR"
        [showButtons]="true"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        [min]="0"
      >
      </p-inputNumber>
      <div
        class="error-text"
        *ngIf="
          mutualFundForm.controls['amountAdded'].touched &&
          mutualFundForm.controls['amountAdded'].invalid
        "
      >
        <small
          *ngIf="mutualFundForm.controls['amountAdded'].errors?.['required']"
        >
          This field is Mandatory
        </small>
        <small *ngIf="mutualFundForm.controls['amountAdded'].errors?.['min']">
          Amount added should be atleast
          {{mutualFundForm.controls['amountAdded'].errors?.['min'].min }}
        </small>
      </div>
    </div>
    <div class="flex-auto m-2">
      <label for="investmentType" class="block font-bold"
        >Investment Type</label
      >
      <p-dropdown
        [ngClass]="
          mutualFundForm.controls['investmentType'].touched &&
          mutualFundForm.controls['investmentType'].invalid
            ? 'ng-invalid ng-dirty'
            : ''
        "
        formControlName="investmentType"
        placeholder="Enter Investment Type"
        [options]="investmentTypes"
      >
      </p-dropdown>
      <small
        class="error-text"
        *ngIf="
          mutualFundForm.controls['investmentType'].touched &&
          mutualFundForm.controls['investmentType'].invalid
        "
      >
        This field is Mandatory
      </small>
    </div>
    <div class="flex-auto m-2">
      <label for="unitsAlloted" class="block font-bold">Units Alloted</label>
      <p-inputNumber
        formControlName="unitsAlloted"
        placeholder="Enter Units Alloted"
        [showButtons]="true"
        [minFractionDigits]="0"
        [maxFractionDigits]="4"
        [min]="0"
      >
      </p-inputNumber>
      <div
        class="error-text"
        *ngIf="
          mutualFundForm.controls['unitsAlloted'].touched &&
          mutualFundForm.controls['unitsAlloted'].invalid
        "
      >
        <small
          *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['required']"
        >
          This field is Mandatory
        </small>
        <small *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['min']">
          Units alloted should be atleast
          {{mutualFundForm.controls['unitsAlloted'].errors?.['min'].min }}
        </small>
      </div>
    </div>
    <div class="flex-auto m-2">
      <label for="nav" class="block font-bold">Net Asset Value</label>
      <p-inputNumber
        formControlName="nav"
        placeholder="Enter Net Asset Value"
        [showButtons]="true"
        [minFractionDigits]="0"
        [maxFractionDigits]="4"
        [min]="0"
      >
      </p-inputNumber>
      <div
        class="error-text"
        *ngIf="
          mutualFundForm.controls['nav'].touched &&
          mutualFundForm.controls['nav'].invalid
        "
      >
        <small *ngIf="mutualFundForm.controls['nav'].errors?.['required']">
          This field is Mandatory
        </small>
        <small *ngIf="mutualFundForm.controls['nav'].errors?.['min']">
          NAV should be atleast
          {{mutualFundForm.controls['nav'].errors?.['min'].min }}
        </small>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <p-button
      label="Close"
      styleClass="p-button-raised p-button-danger m-2"
      (click)="closeModal()"
    ></p-button>
    <p-button
      label="Submit"
      [loading]="isLoading"
      (click)="onFormSubmit()"
      styleClass="p-button-raised m-2"
    ></p-button>
  </div>
</form>

<!-- 
<mat-dialog-content>
        <mat-form-field [style.width.px]="formFieldWidth">
          <mat-label>Investment Date</mat-label>
          <input
            matInput
            formControlName="investmentDate"
            [min]="startDate"
            [max]="today"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              mutualFundForm.controls['investmentDate'].touched &&
              mutualFundForm.controls['investmentDate'].invalid
            "
            >This field is Mandatory</mat-error
          >
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="formFieldWidth">
          <mat-label>Amount Added</mat-label>
          <input
            matInput
            placeholder="Enter Amount Added"
            formControlName="amountAdded"
          />
          <mat-error
            *ngIf="mutualFundForm.controls['amountAdded'].errors?.['required']"
          >
            This field is Mandatory
          </mat-error>
          <mat-error
            *ngIf="mutualFundForm.controls['amountAdded'].errors?.['min']"
          >
            Amount Added should be atleast
            {{mutualFundForm.controls['amountAdded'].errors?.['min'].min }}
          </mat-error>
          <mat-error
            *ngIf="mutualFundForm.controls['amountAdded'].errors?.['pattern']"
          >
            Please enter a valid number
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="formFieldWidth">
          <mat-label>Investment Type</mat-label>
          <mat-select formControlName="investmentType">
            <mat-option>Enter Investment Type</mat-option>
            <mat-option *ngFor="let type of investmentTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              mutualFundForm.controls['investmentType'].touched &&
              mutualFundForm.controls['investmentType'].invalid
            "
            >This field is Mandatory</mat-error
          >
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="formFieldWidth">
          <mat-label>Units Alloted</mat-label>
          <input
            matInput
            placeholder="Enter Units Alloted"
            formControlName="unitsAlloted"
          />
          <mat-error
            *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['required']"
          >
            This field is Mandatory
          </mat-error>
          <mat-error
            *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['min']"
          >
            Units alloted should be atleast
            {{mutualFundForm.controls['unitsAlloted'].errors?.['min'].min }}
          </mat-error>
          <mat-error
            *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['pattern']"
          >
            Please enter a valid number
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field [style.width.px]="formFieldWidth">
          <mat-label>Net Asset Value</mat-label>
          <input
            matInput
            placeholder="Enter Net Asset Value"
            formControlName="nav"
          />
          <mat-error
            *ngIf="mutualFundForm.controls['nav'].errors?.['required']"
          >
            This field is Mandatory
          </mat-error>
          <mat-error *ngIf="mutualFundForm.controls['nav'].errors?.['min']">
            NAV should be atleast
            {{mutualFundForm.controls['nav'].errors?.['min'].min }}
          </mat-error>
          <mat-error *ngIf="mutualFundForm.controls['nav'].errors?.['pattern']">
            Please enter a valid number
          </mat-error>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          color="primary"
          [disabled]="mutualFundForm.invalid"
          (click)="onFormSubmit()"
        >
          Submit
        </button>
      </mat-dialog-actions>
 -->
<!-- 
    <div class="form-group">
      <label for="investment-date">Investment Date</label>
      <input
        type="date"
        class="form-control"
        formControlName="investmentDate"
        id="investment-date"
        [max]="today.toISOString().slice(0, 10)"
      />
      <div
        class="errors"
        *ngIf="
          mutualFundForm.controls['investmentDate'].touched &&
          mutualFundForm.controls['investmentDate'].invalid
        "
      >
        <div
          *ngIf="mutualFundForm.controls['investmentDate'].errors?.['required']"
        >
          This field is Mandatory
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="amount-added">Amount Added</label>
      <input
        type="number"
        class="form-control"
        formControlName="amountAdded"
        id="amount-added"
        step="0.01"
        placeholder="Enter Amount Added"
      />
      <div
        class="errors"
        *ngIf="
          mutualFundForm.controls['amountAdded'].touched &&
          mutualFundForm.controls['amountAdded'].invalid
        "
      >
        <div *ngIf="mutualFundForm.controls['amountAdded'].errors?.['required']">
          This field is Mandatory
        </div>
        <div *ngIf="mutualFundForm.controls['amountAdded'].errors?.['min']">
          Amount Added should be atleast
          {{mutualFundForm.controls['amountAdded'].errors?.['min'].min }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="investment-type">Investment Type</label>
      <select class="form-control" formControlName="investmentType" id="investment-type">
          <option value="" selected>Enter the Investment Type</option>
          <option *ngFor="let type of investmentTypes" value="type">
          {{ type }}
        </option>
      </select>
      <div class="errors" *ngIf="mutualFundForm.controls['investmentType'].touched && mutualFundForm.controls['investmentType'].invalid">
          <div *ngIf="mutualFundForm.controls['investmentType'].errors?.['required']">This field is Mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <label for="units-alloted">Units Alloted</label>
      <input
        type="number"
        class="form-control"
        formControlName="unitsAlloted"
        id="units-alloted"
        step="0.0001"
        placeholder="Enter Units Alloted" 
      />
      <div class="errors" *ngIf="mutualFundForm.controls['unitsAlloted'].touched && mutualFundForm.controls['unitsAlloted'].invalid">
          <div *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['required']">This field is Mandatory</div>
          <div *ngIf="mutualFundForm.controls['unitsAlloted'].errors?.['min']">Units alloted should be atleast {{mutualFundForm.controls['unitsAlloted'].errors?.['min'].min }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="nav">Net Asset Value</label>
      <input
        type="number"
        class="form-control"
        formControlName="nav"
        id="nav"
        step="0.0001"
        placeholder="Enter Net Asset Value" 
      />
      <div class="errors" *ngIf="mutualFundForm.controls['nav'].touched && mutualFundForm.controls['nav'].invalid">
          <div *ngIf="mutualFundForm.controls['nav'].errors?.['required']">This field is Mandatory</div>
          <div *ngIf="mutualFundForm.controls['nav'].errors?.['min']">NAV should be atleast {{mutualFundForm.controls['nav'].errors?.['min'].min }}</div>
      </div>
    </div>
    <button [disabled]="mutualFundForm.invalid">Submit</button> -->
