<form [formGroup]="dividendForm">
  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!isLoading">
    <h3 mat-dialog-title>Add Dividend Transaction</h3>
    <mat-dialog-content>
      <mat-form-field [style.width.px]="formFieldWidth">
        <mat-label>Company Name</mat-label>
        <mat-select formControlName="companyName">
          <mat-option>Enter the Company Name</mat-option>
          <mat-option
            *ngFor="let company of companies"
            [value]="company.companySymbol"
          >
            {{ company.companyName }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            dividendForm.controls['companyName'].touched &&
            dividendForm.controls['companyName'].invalid
          "
          >This field is Mandatory</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field [style.width.px]="formFieldWidth">
        <mat-label>Credited Date</mat-label>
        <input
          matInput
          formControlName="creditedDate"
          [min]="startDate"
          [max]="today"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            dividendForm.controls['creditedDate'].touched &&
            dividendForm.controls['creditedDate'].invalid
          "
          >This field is Mandatory</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field [style.width.px]="formFieldWidth">
        <mat-label>Credited Amount</mat-label>
        <input
          matInput
          placeholder="Enter Credited Amount"
          formControlName="creditedAmount"
        />
        <mat-error
          *ngIf="dividendForm.controls['creditedAmount'].errors?.['required']"
        >
          This field is Mandatory
        </mat-error>
        <mat-error
          *ngIf="dividendForm.controls['creditedAmount'].errors?.['min']"
        >
          Credited Amount should be atleast
          {{dividendForm.controls['creditedAmount'].errors?.['min'].min }}
        </mat-error>
        <mat-error
          *ngIf="dividendForm.controls['creditedAmount'].errors?.['pattern']"
        >
          Please enter a valid number
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close color="warn">Close</button>
      <button
        mat-raised-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        color="primary"
        (click)="onFormSubmit()"
      >
        Submit
      </button>
    </mat-dialog-actions>
  </div>
</form>

<!-- <div class="form-group">
  <label for="company-name">Company Name</label>
  <select class="form-control" formControlName="companyName" id="company-name">
    <option value="" selected>Enter the Company Name</option>
    <option *ngFor="let company of companies" [value]="company.symbol">
      {{ company.name }}
    </option>
  </select>
  <div
    class="errors"
    *ngIf="
      dividendForm.controls['companyName'].touched &&
      dividendForm.controls['companyName'].invalid
    "
  >
    <div *ngIf="dividendForm.controls['companyName'].errors?.['required']">
      This field is Mandatory
    </div>
  </div>
</div>
<div class="form-group">
  <label for="credited-date">Credited Date</label>
  <input
    type="date"
    class="form-control"
    formControlName="creditedDate"
    id="credited-date"
    [max]="today.toISOString().slice(0, 10)"
  />
  <div
    class="errors"
    *ngIf="
      dividendForm.controls['creditedDate'].touched &&
      dividendForm.controls['creditedDate'].invalid
    "
  >
    <div *ngIf="dividendForm.controls['creditedDate'].errors?.['required']">
      This field is Mandatory
    </div>
  </div>
</div>
<div class="form-group">
  <label for="credited-amount">Credited Amount</label>
  <input
    type="number"
    class="form-control"
    formControlName="creditedAmount"
    id="credited-amount"
    step="0.01"
    placeholder="Enter Credited Amount"
  />
  <div
    class="errors"
    *ngIf="
      dividendForm.controls['creditedAmount'].touched &&
      dividendForm.controls['creditedAmount'].invalid
    "
  >
    <div *ngIf="dividendForm.controls['creditedAmount'].errors?.['required']">
      This field is Mandatory
    </div>
    <div *ngIf="dividendForm.controls['creditedAmount'].errors?.['min']">
      Credited Amount should be atleast
      {{dividendForm.controls['creditedAmount'].errors?.['min'].min }}
    </div>
  </div>
</div>
<button [disabled]="dividendForm.invalid">Submit</button> -->
