<form [formGroup]="fundForm">
  <h3 mat-dialog-title>Add Fund Transaction</h3>
  <mat-dialog-content>
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Transaction Date</mat-label>
      <input
        matInput
        formControlName="transactionDate"
        [min]="startDate"
        [max]="today"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="
          fundForm.controls['transactionDate'].touched &&
          fundForm.controls['transactionDate'].invalid
        "
        >This field is Mandatory</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Credited Amount</mat-label>
      <input
        matInput
        placeholder="Enter Credited Amount"
        formControlName="creditedAmount"
      />
      <mat-error
        *ngIf="fundForm.controls['creditedAmount'].errors?.['required']"
      >
        This field is Mandatory
      </mat-error>
      <mat-error *ngIf="fundForm.controls['creditedAmount'].errors?.['min']">
        Credited Amount should be atleast
        {{fundForm.controls['creditedAmount'].errors?.['min'].min }}
      </mat-error>
      <mat-error
        *ngIf="fundForm.controls['creditedAmount'].errors?.['pattern']"
      >
        Please enter a valid number
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field [style.width.px]="formFieldWidth">
      <mat-label>Debited Amount</mat-label>
      <input
        matInput
        placeholder="Enter Debited Amount"
        formControlName="debitedAmount"
      />
      <mat-error
        *ngIf="fundForm.controls['debitedAmount'].errors?.['required']"
      >
        This field is Mandatory
      </mat-error>
      <mat-error *ngIf="fundForm.controls['debitedAmount'].errors?.['min']">
        Debited Amount should be atleast
        {{fundForm.controls['debitedAmount'].errors?.['min'].min }}
      </mat-error>
      <mat-error *ngIf="fundForm.controls['debitedAmount'].errors?.['pattern']">
        Please enter a valid number
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="primary"
      (click)="onFormSubmit()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>

<!-- <div class="form-group">
  <label for="transaction-date">Transaction Date</label>
  <input
    type="date"
    class="form-control"
    formControlName="transactionDate"
    id="transaction-date"
    [max]="today.toISOString().slice(0, 10)"
  />
  <div
    class="errors"
    *ngIf="
      fundForm.controls['transactionDate'].touched &&
      fundForm.controls['transactionDate'].invalid
    "
  >
    <div *ngIf="fundForm.controls['transactionDate'].errors?.['required']">
      This field is Mandatory
    </div>
  </div>
</div>
<div class="form-group">
  <label for="credited-amount">Credited Amount</label>
  <input
    type="number"
    class="form-control"
    formControlName="creditedAmount"
    id="credited-amount"
    step="0.01"
    placeholder="Enter Credited Amount"
  />
  <div
    class="errors"
    *ngIf="
      fundForm.controls['creditedAmount'].touched &&
      fundForm.controls['creditedAmount'].invalid
    "
  >
    <div *ngIf="fundForm.controls['creditedAmount'].errors?.['required']">
      This field is Mandatory
    </div>
    <div *ngIf="fundForm.controls['creditedAmount'].errors?.['min']">
      Credited Amount should be atleast
      {{fundForm.controls['creditedAmount'].errors?.['min'].min }}
    </div>
  </div>
</div>
<div class="form-group">
  <label for="debited-amount">Debited Amount</label>
  <input
    type="number"
    class="form-control"
    formControlName="debitedAmount"
    id="debited-amount"
    step="0.01"
    placeholder="Enter Debited Amount"
  />
  <div
    class="errors"
    *ngIf="
      fundForm.controls['debitedAmount'].touched &&
      fundForm.controls['debitedAmount'].invalid
    "
  >
    <div *ngIf="fundForm.controls['debitedAmount'].errors?.['required']">
      This field is Mandatory
    </div>
    <div *ngIf="fundForm.controls['debitedAmount'].errors?.['min']">
      Debited Amount should be atleast
      {{fundForm.controls['debitedAmount'].errors?.['min'].min }}
    </div>
  </div>
</div>
<button [disabled]="fundForm.invalid">Submit</button> -->
