.green {
    color: green
}

.red {
    color: red
}

.grid-container {
    width: 23%;
    padding: 0.5rem;
    background-color: floralwhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: grid;
    border-radius: 0.3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* .grid-item {} */

.heading {
    color: steelblue;
    font-size: 1.2rem;
    grid-column: 1/4;
    grid-row: 1/2;
}

.icon {
    grid-column: 4/5;
    grid-row: 1/2;
}

.overall-dividend {
    font-size: 1.5rem;
    grid-column: 1/5;
    grid-row: 2/3;
}