<!-- <app-stock-form></app-stock-form>
<app-mutual-fund-form></app-mutual-fund-form>
<app-dividend-form></app-dividend-form>
<app-profit-loss-form></app-profit-loss-form>
<app-fund-form></app-fund-form> -->
<app-stock-modal-button></app-stock-modal-button>
<app-mutual-modal-button></app-mutual-modal-button>
<app-dividend-modal-button></app-dividend-modal-button>
<app-fund-modal-button></app-fund-modal-button>
<app-profit-loss-modal-button></app-profit-loss-modal-button>
<app-stock-ag-grid></app-stock-ag-grid>