<div class="app-body">
  <app-scrolling-banner></app-scrolling-banner>
  <app-stock-dashboard></app-stock-dashboard>
  <app-stock-card></app-stock-card>
  <app-fund-card></app-fund-card>
  <app-dividend-card></app-dividend-card>
  <app-profit-loss-card></app-profit-loss-card>
  <!-- <app-stock-form></app-stock-form>
<app-mutual-fund-form></app-mutual-fund-form>
<app-dividend-form></app-dividend-form>
<app-profit-loss-form></app-profit-loss-form>
<app-fund-form></app-fund-form> -->
  <app-stock-modal-button></app-stock-modal-button>
  <app-mutual-modal-button></app-mutual-modal-button>
  <app-dividend-modal-button></app-dividend-modal-button>
  <app-fund-modal-button></app-fund-modal-button>
  <app-profit-loss-modal-button></app-profit-loss-modal-button>
  <app-stock-ag-grid></app-stock-ag-grid>
  <app-mutual-fund-ag-grid></app-mutual-fund-ag-grid>
  <app-fund-ag-grid></app-fund-ag-grid>
  <app-dividend-ag-grid></app-dividend-ag-grid>
  <app-profit-loss-ag-grid></app-profit-loss-ag-grid>
  <p-toast position="bottom-center" key="global"></p-toast>
</div>
